In [2]:
import gensim
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Cheque/DataScienceSalaries.csv")
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [5]:
df.shape

(3755, 11)

In [16]:
job_title = df.job_title.apply(gensim.utils.simple_preprocess)
job_title

0       [principal, data, scientist]
1                     [ml, engineer]
2                     [ml, engineer]
3                  [data, scientist]
4                  [data, scientist]
                    ...
3750               [data, scientist]
3751    [principal, data, scientist]
3752               [data, scientist]
3753       [business, data, analyst]
3754        [data, science, manager]
Name: job_title, Length: 3755, dtype: object

In [21]:
job_title.loc[0:]

0       [principal, data, scientist]
1                     [ml, engineer]
2                     [ml, engineer]
3                  [data, scientist]
4                  [data, scientist]
                    ...
3750               [data, scientist]
3751    [principal, data, scientist]
3752               [data, scientist]
3753       [business, data, analyst]
3754        [data, science, manager]
Name: job_title, Length: 3755, dtype: object

In [22]:
df.job_title.loc[0]

'Principal Data Scientist'

In [23]:
model = gensim.models.Word2Vec(
    window=10,
    min_count=2,
    workers=4,
)

In [24]:
model.build_vocab(job_title, progress_per=1000)

In [25]:
model.train(job_title, total_examples=model.corpus_count, epochs=model.epochs)

(6429, 41515)

In [27]:
model.save("/content/drive/MyDrive/Cheque/word2vec-amazon-cell-accessories-reviews-short.model")

In [35]:
model.wv.most_similar("vision")

[('computer', 0.9945895671844482),
 ('data', 0.9943720102310181),
 ('of', 0.9942827820777893),
 ('engineer', 0.9939217567443848),
 ('science', 0.9933173060417175),
 ('developer', 0.9927576184272766),
 ('learning', 0.9915832877159119),
 ('machine', 0.9915574193000793),
 ('head', 0.9913432598114014),
 ('software', 0.9884454011917114)]

In [42]:
model.wv.similarity(w1="of", w2="ai")

0.9691501

In [53]:
model.wv.doesnt_match(['learning','head','software'])

'software'